.Rproj.user
.Rhistory
.RData
.Ruserdata
TestingLinguisticUniversals.Rproj
.DS_Store
./results/sensitivity_no_tree_fam_control
/results/sensitivity_no_tree_fam_control
/old
/2023_08_24_no_tree_fam_control_bfcluster
